body {
    background-image: url("background.jpg");
}
h1.logo {
    text-align: center;
    font-family: 'Asset';font-size: 4em;
}
p.heavytext {
    text-align: center;
    font-family: 'Verdana';
    font-size: 2em;
}
p.breadtext {
    font-family: 'Verdana';
    font-size: 1em;
    background-color: lightblue;
}
ul.list {
    font-family: 'Verdana';
    font-size: 1em;
    background-color: lightblue;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.meatballday {
  width: 100px;
  height: auto;
  position: absolute;
  top: 260px;
  left: 560px;
}
.pancakeday {
  width: 100px;
  height: auto;
  position: absolute;
  top: 140px;
  left: 687px;
}